@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap");

html {
  background-color: #dbc1ac;
  color: #38220f;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
  margin: 0;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  font-weight: normal;
  height: 100vh;
}

main {
  height: 80%;
}

a {
  color: inherit;
  text-decoration: none;
}

.router-link-active {
  color: #ece0d1;
}

.title {
  text-align: center;
  margin: 2rem 0;
}

header span {
  padding: 0 20px;
}

header {
  height: 10%;
  background-color: #634832;
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  padding-left: 20px;
  justify-content: space-between;
}
.form-input {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}

footer {
  height: 10%;
  background-color: #634832;
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  padding-left: 20px;
}